.container__top{
  padding: 0 2rem;
  color: #FFF5F5;
  display: flex;
  justify-content: space-between;
}

.container__top i{
  font-size: 1.5rem;
  padding-top: 3px;
}

.top__celphone{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.top__celphone p{
  margin: 6px .5rem;
}

.top__social{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.top__social a {
  margin: 3px .5rem;
  color: #FFF5F5;
  text-decoration: none;
}
